
<ol class="flex items-center mb-6 text-sm font-medium text-center text-gray-500 dark:text-gray-400 lg:mb-12 sm:text-base">
  <li class="flex items-center after:content-[''] after:w-12 after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
    <div class="flex items-center sm:block after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
      <div class="mr-2 sm:mb-2 sm:mx-auto">1</div>
      Personal <span class="hidden sm:inline-flex">Info</span>
    </div>
  </li>
  <li class="flex items-center after:content-[''] after:w-12 after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
    <div class="flex items-center sm:block after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
      <div class="mr-2 sm:mb-2 sm:mx-auto">2</div>
      Account <span class="hidden sm:inline-flex">Info</span>
    </div>
  </li>
  <li class="flex items-center sm:block">
    <div class="mr-2 sm:mb-2 sm:mx-auto">3</div>
    Confirmation
  </li>
</ol>
