<div class="flex h-16 items-center bg-background">
  <div class="flex w-full items-center justify-between px-7 text-[13px] font-medium">
    <div class="text-muted-foreground/50">
      <span class="mr-2">{{ year }}©</span>
      <a href="https://FitSync.pro" target="_blank" class="hover:text-primary">
        FitSyncPro
      </a>
    </div>
    <ul class="flex text-muted-foreground/50">
      <li class="hover:text-primary">
        <a href="https://www.fitsync.pro/terms-and-conditions" target="_blank" class="menu-link px-2">
          Terms and Conditions
        </a>
      </li>
      <li class="hover:text-primary">
        <a href="https://www.fitsync.pro/privacy-policy" target="_blank" class="menu-link px-2">Privacy policy</a>
      </li>
      <li class="hover:text-primary">
        <a href="https://www.fitsync.pro/cookie-policy" target="_blank" class="menu-link px-2">Cookie policy</a>
      </li>
    </ul>
  </div>
</div>
