<div class="mb-4 lg:mb-6 text-center">
  <h1 class="text-2xl font-bold leading-tight tracking-tight">{{ onboardingSteps[3].title }}</h1>
  <p class="text-lg font-light text-gray-500">
    {{ onboardingSteps[3].description }}
  </p>

  <div *ngIf="error" class="text-red-500 text-xs mt-2">
    {{ error }}
  </div>
</div>
<div class="grid gap-4">
  <ul class="grid md:grid-cols-2 gap-x-3 gap-y-4" (change)="resetError()">
    <li (click)="setLocation(trainingLocation.InPerson)">
      <input
        type="radio"
        id="inPerson"
        class="hidden peer"
        name="location"
        [checked]="onboarding().trainingLocation === trainingLocation.InPerson || location?.value === trainingLocation.InPerson" />
      <label
        for="InPerson"
        class="inline-flex items-center justify-center w-full p-2 text-gray-400 bg-transparent border-2 border-gray-400 rounded-lg cursor-pointer peer-checked:border-primary peer-checked:text-primary-foreground peer-checked:bg-primary hover:text-primary-foreground hover:bg-primary hover:peer-checked:text-primary-foreground transition-all">
        <svg-icon class="w-6 h-6 mr-2" src="assets/icons/heroicons/outline/trainer.svg"> </svg-icon>
        <span class="w-full">{{ trainingLocation.InPerson }}</span>
      </label>
    </li>
    <li (click)="setLocation(trainingLocation.Online)">
      <input
        type="radio"
        id="online"
        class="hidden peer"
        name="location"
        [checked]="onboarding().trainingLocation === trainingLocation.Online || location?.value === trainingLocation.Online" />
      <label
        for="online"
        class="inline-flex items-center justify-center w-full p-2 text-gray-400 bg-transparent border-2 border-gray-400 rounded-lg cursor-pointer peer-checked:border-primary peer-checked:text-primary-foreground peer-checked:bg-primary hover:text-primary-foreground hover:bg-primary hover:peer-checked:text-primary-foreground transition-all">
        <svg-icon class="w-6 h-6 mr-2" src="assets/icons/heroicons/outline/trainer.svg"> </svg-icon>
        <span class="w-full">{{ trainingLocation.Online }}</span>
      </label>
    </li>
  </ul>

  @if (onboarding().trainingLocation === trainingLocation.InPerson || location?.value === trainingLocation.InPerson) {
    <p>How would you like to train?</p>
    <ul class="grid md:grid-cols-2 gap-x-3 gap-y-4" (change)="resetError()">
      <li (click)="setHowToTrain(trainingInPerson.OneToOne)">
        <input type="radio" id="oneToOne" class="hidden peer" name="trainingInPerson" [checked]="onboarding().howToTrain === trainingInPerson.OneToOne"/>
        <label
          for="oneToOne"
          class="inline-flex items-center justify-center w-full p-2 text-gray-400 border-2 border-gray-400 bg-transparent rounded-lg cursor-pointer peer-checked:border-primary peer-checked:text-primary-foreground peer-checked:bg-primary hover:text-primary-foreground hover:bg-primary hover:peer-checked:text-primary-foreground transition-all">
          <svg-icon class="w-6 h-6 mr-2" src="assets/icons/heroicons/outline/trainer.svg"> </svg-icon>
          <span class="w-full">{{ trainingInPerson.OneToOne }}</span>
        </label>
      </li>

      <li (click)="setHowToTrain(trainingInPerson.Group)">
        <input type="radio" id="group" class="hidden peer" name="trainingInPerson"  [checked]="onboarding().howToTrain === trainingInPerson.Group"/>
        <label
          for="group"
          class="inline-flex items-center justify-center w-full p-2 text-gray-400 border-2 border-gray-400 bg-transparent rounded-lg cursor-pointer peer-checked:border-primary peer-checked:text-primary-foreground peer-checked:bg-primary hover:text-primary-foreground hover:bg-primary hover:peer-checked:text-primary-foreground transition-all">
          <svg-icon class="w-6 h-6 mr-2" src="assets/icons/heroicons/outline/trainer.svg"> </svg-icon>
          <span class="w-full">{{ trainingInPerson.Group }}</span>
        </label>
      </li>
    </ul>
  }

  @if (onboarding().trainingLocation === trainingLocation.Online || location?.value === trainingLocation.Online) {
    <p>How would you like to train?</p>
    <ul class="grid md:grid-cols-2 gap-x-3 gap-y-4" (change)="resetError()">
      <li (click)="setHowToTrain(trainingOnline.Home)">
        <input type="radio" id="home" class="hidden peer" name="trainingOnline" [checked]="onboarding().howToTrain === trainingOnline.Home" />
        <label
          for="home"
          class="inline-flex items-center justify-center w-full p-2 text-gray-400 bg-transparent border-2 border-gray-400 rounded-lg cursor-pointer peer-checked:border-primary peer-checked:text-primary-foreground peer-checked:bg-primary hover:text-primary-foreground hover:bg-primary hover:peer-checked:text-primary-foreground transition-all">
          <svg-icon class="w-6 h-6 mr-2" src="assets/icons/heroicons/outline/trainer.svg"> </svg-icon>
          <span class="w-full">{{ trainingOnline.Home }}</span>
        </label>
      </li>

      <li (click)="setHowToTrain(trainingOnline.Gym)">
        <input type="radio" id="gym" class="hidden peer" name="trainingOnline" [checked]="onboarding().howToTrain === trainingOnline.Gym" />
        <label
          for="gym"
          class="inline-flex items-center justify-center w-full p-2 text-gray-400 border-2 border-gray-400 bg-transparent rounded-lg cursor-pointer peer-checked:border-primary peer-checked:text-primary-foreground peer-checked:bg-primary hover:text-primary-foreground hover:bg-primary hover:peer-checked:text-primary-foreground transition-all">
          <svg-icon class="w-6 h-6 mr-2" src="assets/icons/heroicons/outline/trainer.svg"> </svg-icon>
          <span class="w-full">{{ trainingOnline.Gym }}</span>
        </label>
      </li>

      <li (click)="setHowToTrain(trainingOnline.Outdoor)">
        <input type="radio" id="outdoor" class="hidden peer" name="trainingOnline" [checked]="onboarding().howToTrain === trainingOnline.Outdoor" />
        <label
          for="outdoor"
          class="inline-flex items-center justify-center w-full p-2 text-gray-400 bg-transparent border-2 border-gray-400 rounded-lg cursor-pointer peer-checked:border-primary peer-checked:text-primary-foreground peer-checked:bg-primary hover:text-primary-foreground hover:bg-primary hover:peer-checked:text-primary-foreground transition-all">
          <svg-icon class="w-6 h-6 mr-2" src="assets/icons/heroicons/outline/trainer.svg"> </svg-icon>
          <span class="w-full">{{ trainingOnline.Outdoor }}</span>
        </label>
      </li>
    </ul>
  }

  <div class="flex justify-between gap-3 mt-4">
    <app-button class="w-full" full [impact]="'none'" (click)="onBack()">Back</app-button>
    <app-button class="w-full" full [impact]="'bold'" (click)="onSubmit()">Next</app-button>
  </div>
</div>
