<h1 class="text-2xl font-bold leading-tight tracking-tight text-center">Welcome!</h1>
<p class="mb-4 text-lg font-light text-gray-500 text-center lg:mb-6">What type of account would you like to create?</p>
<ul class="mb-6 space-y-4">
  @for (userType of userTypes; track userType.id) {
    <li>
      <input type="radio" [id]="userType.id" name="userType" [value]="userType.type" class="hidden peer" required [checked]="userType.id === selectedUserType?.id" (change)="onSelectedUserType(userType)" />
      <label
        [for]="userType.id"
        class="inline-flex items-center justify-center w-full p-2 text-gray-400 bg-transparent border-2 border-gray-400 rounded-lg cursor-pointer peer-checked:border-primary peer-checked:text-primary-foreground peer-checked:bg-primary hover:text-primary-foreground hover:bg-primary hover:peer-checked:text-primary-foreground transition-all">
        <svg-icon class="w-6 h-6 mr-2" [src]="'assets/icons/heroicons/outline/' + userType.icon"> </svg-icon>
        <span class="w-full">{{ userType.name }}</span>
        <svg class="w-6 h-6 ml-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </label>
    </li>
  }
</ul>
<app-button full [size]="'medium'" [impact]="'bold'" [disabled]="selectedUserType === null" (click)="setOnboardingType()">Next</app-button>
